body,
p,
ul,
ol,
dl,
li,
dt,
dd {
/* 默认有边距，都要清除 */
  margin: 0;
  padding: 0;
/*字体设置*/
  font-size: 14px;
  font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
/* 去掉列表的原点 */
  list-style: none;
/* 默认鼠标 */
  cursor: default;
}
/*可选*/
html,
body {
  width: 100%;
  height: 100%;
}
/*行内块元素*/
input,
img {
  margin: 0;
  padding: 0;
  outline-style: none;
  vertical-align: bottom;
}
img {
  border: 0 none;
}
a {
  cursor: pointer;
  color: #333;
}
/*行内元素*/
a,
a:active,
a:visited {
/*下划线和颜色*/
  text-decoration: none;
}
a:hover {
  color: #333;
}
textarea {
/* 边框清零 */
  border: none;
/* 轮廓线清零 */
  outline: none;
/* 防止文本域被随意拖拽 */
  resize: none;
}
i {
/*文字样式*/
  font-style: normal;
}
/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: none;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
*,
:after,
:before {
  box-sizing: border-box;
}
img {
  width: 100%;
}
/*表格*/
figure table td {
  padding: 0;
  border: none;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td,
table th {
  border: 1px solid #cad9ea;
  color: #666;
  height: 30px;
  padding: 10px;
}
table thead th {
  background-color: #cce8eb;
  min-width: 100px;
}
table tr:nth-child(odd) {
  background: #fff;
}
table tr:nth-child(even) {
  background: #f5fafa;
}
